{so_name, "sext.so"}.
{port_source, ["c_src/*.c"]}.
{port_env, [ {"CFLAGS", "$CFLAGS -O3"} ]}.

{erl_opts, [debug_info]}.
{deps, [{edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}}]}.
{src_dirs, ["examples"]}.
{edoc_opts, [{doclet, edown_doclet},
	     {src_path, ["src/", "examples/"]},
	     {subpackages, true}]}.
